.headerContainer {
  max-width: 1165px;
  margin: auto;
}
.yellowButton {
  background-color: #e6ff4c;
  border: 2px solid #273720;
  border-radius: 6px;
  border-width: 3px;
  width: 767px;
  padding: 16px 32px;
  gap: 70px;
  font-weight: bold;
  font-size: 15px;
}
nav {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  //width: 936.792px;
  height: 57.944px;
  padding-top: 30px;
  // padding-bottom: 1.25rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 10px;
    padding-right: 80px;
    gap: 40px;
  }
}
header {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.heroSection {
  max-width: 1165px;
  margin: auto;
  background-color: #faf8f7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  justify-content: center;
  padding-bottom: 150px;
}
h1 {
  color: #273720;
  font-size: 42px;
  font-weight: 500;
  line-height: 1;
  grid-row-end: 1;
  padding-top: 50px;
}
p {
  max-width: 1165px;
  border-left: 200px;
  font-size: 17px;
  font-weight: 400;
  color: rgb(93, 93, 93);
  width: 500px;
  padding-bottom: 20px;
  grid-row-end: 2;
}

.heroImg {
  width: 550px;
}

footer {
  background-color: #273720;
  color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 100px;
  align-items: start;
  justify-items: start;
}

.footerGridOne {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0px;
  // grid-area: span 1 / span 1 / span 1 / span 1;
}

.footerGridTwo {
  align-items: center;
  display: flex;
  flex-direction: column;
  // grid-area: span 1 / span 1 / span 1 / span 1;
}

.footerGridThree {
  align-items: center;
  display: flex;
  flex-direction: column;
  // grid-area: span 1 / span 1 / span 1 / span 1;
}

//   & ul {
//     list-style: none;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-inline-start: 10px;
//     padding-right: 100px;
//     padding-left: 300px;
//     gap: 40px;
//     font-size: 25px;
//     font-weight: 400;
//     & img {
//       padding-left: 30px;
//       padding-top: 30px;
//     }
//   }
// }
